@page "/products/create"
@page "/products/update/{id:int}"

@inject NavigationManager Navigation
@inject IProductRepository productRepository
@inject ICategoryRepository categoryRepository
@inject IJSRuntime jsRuntime

@if (isProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else if (product is not null)
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@(Id == 0 ? "Create" : "Update") product</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <EditForm Model="product" FormName="ProductUpsertForm" OnValidSubmit="UpsertProduct">
                <DataAnnotationsValidator />

                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="product.Name" class="form-control" id="Name" placeholder="Name"/>
                            <label for="Name">Name</label>
                        <ValidationMessage For="@(() => product.Name)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="product.Description" class="form-control" id="Description" placeholder="Description" />
                            <label for="Description">Description</label>
                        <ValidationMessage For="@(() => product.Description)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputNumber @bind-Value="product.Price" class="form-control" id="Price" placeholder="Price" />
                            <label for="Price">Price</label>
                        <ValidationMessage For="@(() => product.Price)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputSelect @bind-Value="product.CategoryId" class="form-select" id="category">
                        <option value="0" disabled selected>Select Category</option>
                            @foreach (Category category in categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </InputSelect>
                        <label for="category">Category</label>
                        <ValidationMessage For="@(() => product.Category)" />
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control" disabled="@isProcessing">
                                <i class="bi bi-floppy2-fill"></i> @(Id == 0 ? "Create" : "Update")
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="products" class="btn btn-secondary form-control" disabled="@isProcessing">
                                <i class="bi bi-arrow-bar-left"></i> Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code 
{
    [Parameter] public int Id { get; set; }

    [SupplyParameterFromForm] Product product { get; set; } = new();
    IEnumerable<Category> categories = new List<Category>();

    bool isProcessing { get; set; } = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFormDataAsync();
            isProcessing = false;
            StateHasChanged();
        }
    }

    async Task LoadFormDataAsync()
    {
        if (Id > 0)
        {
            product = await productRepository.GetAsync(Id);
        }

        categories = await categoryRepository.GetAllAsync();
    }

    async Task UpsertProduct()
    {
        isProcessing = true;

        StateHasChanged();

        if (Id > 0)
        {
            await productRepository.UpdateAsync(product);
            // await jsRuntime.InvokeVoidAsync("toastr.success", "Product updated successfully.");
            await jsRuntime.ToastrSuccess("Product updated successfully.");
        }
        else
        {
            await productRepository.CreateAsync(product);
            await jsRuntime.InvokeVoidAsync("toastr.success", "Product created successfully.");
        }

        isProcessing = false;
        Navigation.NavigateTo("products");
    }
}
