@page "/products/create"
@page "/products/update/{id:int}"

@inject NavigationManager _navigation
@inject IWebHostEnvironment _environment
@inject IProductRepository _productRepository
@inject ICategoryRepository _categoryRepository
@inject IJSRuntime _jsRuntime

@if (isProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else if (product is not null)
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@(Id == 0 ? "Create" : "Update") product</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <EditForm Model="product" FormName="ProductUpsertForm" OnValidSubmit="UpsertProduct">
                <DataAnnotationsValidator />

                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="product.Name" class="form-control" id="Name" placeholder="Name"/>
                            <label for="Name">Name</label>
                        <ValidationMessage For="@(() => product.Name)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="product.Description" class="form-control" id="Description" placeholder="Description" />
                            <label for="Description">Description</label>
                        <ValidationMessage For="@(() => product.Description)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="product.Tag" class="form-control" id="Tag" placeholder="Tag" />
                        <label for="Tag">Tag</label>
                        <ValidationMessage For="@(() => product.Tag)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputNumber @bind-Value="product.Price" class="form-control" id="Price" placeholder="Price" />
                            <label for="Price">Price</label>
                        <ValidationMessage For="@(() => product.Price)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputSelect @bind-Value="product.CategoryId" class="form-select" id="category">
                        <option value="0" disabled selected>Select Category</option>
                            @foreach (Category category in categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </InputSelect>
                        <label for="category">Category</label>
                        <ValidationMessage For="@(() => product.Category)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        @if(product.ImageUrl == null)
                        {
                            <InputFile OnChange="LoadFiles" class="form-control pb-3" id="customFile"
                                       accept="image/x-png,image/jpeg"></InputFile>
                            <label for="customFile">Upload Image</label>
                        }
                        @if (string.IsNullOrEmpty(product.ImageUrl) == false)
                        {
                            <div class="row">
                                <div class="col-3">
                                    <img src="@product.ImageUrl" class="img-fluid img-thumbnail mt-2" alt="Product Image" />
                                </div>
                                <div class="cold-md-9">
                                    <i class="bi bi-trash btn btn-outline-danger" @onclick="DeleteImage">Remove</i>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row pt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control" disabled="@isProcessing">
                                <i class="bi bi-floppy2-fill"></i> @(Id == 0 ? "Create" : "Update")
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="products" class="btn btn-secondary form-control" disabled="@isProcessing">
                                <i class="bi bi-arrow-bar-left"></i> Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code 
{
    [Parameter] public int Id { get; set; }

    [SupplyParameterFromForm] Product product { get; set; } = new();
    IEnumerable<Category> categories = new List<Category>();

    string? directoryPath { get; set; }
    bool isProcessing { get; set; } = true;

    protected override Task OnInitializedAsync()
    {
        directoryPath = Path.Combine(_environment.WebRootPath, "images", "product");
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFormDataAsync();
            isProcessing = false;
            StateHasChanged();
        }
    }

    async Task LoadFormDataAsync()
    {
        if (Id > 0)
        {
            product = await _productRepository.GetAsync(Id);
        }

        categories = await _categoryRepository.GetAllAsync();
    }

    async Task UpsertProduct()
    {
        isProcessing = true;

        StateHasChanged();

        if (Id > 0)
        {
            await _productRepository.UpdateAsync(product);
            // await _jsRuntime.InvokeVoidAsync("toastr.success", "Product updated successfully.");
            await _jsRuntime.ToastrSuccess("Product updated successfully.");
        }
        else
        {
            await _productRepository.CreateAsync(product);
            await _jsRuntime.InvokeVoidAsync("toastr.success", "Product created successfully.");
        }

        isProcessing = false;
        _navigation.NavigateTo("products");
    }

    async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isProcessing = true;

        var file = e.File;
        FileInfo fileInfo = new FileInfo(file.Name);
        var fileName = $"{Guid.NewGuid()}.{fileInfo.Extension}";

        if (Directory.Exists(directoryPath) == false)
        {
            Directory.CreateDirectory(directoryPath!);
        }

        var filePath = Path.Combine(directoryPath!, fileName);

        await using FileStream fileStream = new FileStream(filePath, FileMode.Create);
        await file.OpenReadStream(file.Size).CopyToAsync(fileStream);

        product.ImageUrl = $"/images/product/{fileName}";
        isProcessing = false;
    }

    async Task DeleteImage()
    {
        if (string.IsNullOrEmpty(product.ImageUrl) == false)
        {
            var existingFilePath = Path.Combine(_environment.WebRootPath, product.ImageUrl.TrimStart('/').Replace('/', Path.DirectorySeparatorChar));

            if (File.Exists(existingFilePath))
            {
                File.Delete(existingFilePath);
            }

            product.ImageUrl = null;

            await _jsRuntime.ToastrSuccess("Image removed successfully.");
        }
        else
        {
            await _jsRuntime.ToastrError("No image to remove.");
        }
    }
}
